.section-one {
  height: 80vh;
}

.section-two {
  height: 85vh;
}

.section-three {
  background-color: #a7d8cc;
}

.section-five-bar-beginning {
  background-color: #c4ede5;
}

.section-five-bar-end {
  background-color: #a7d8cc;
}

.text-box {
  background-color: #c4ede5;
}

.logos > div > img {
  filter: grayscale(100%);
}

.logos > div > img:hover {
  filter: grayscale(0%);
  box-shadow: 10px 10px 5px grey;
}

.orangebox {
  position: absolute;
  top: 230px;
  right: 280px;
  z-index: -1;
  height: 360px;
  width: 550px;
  background-color: orange;
}
