* {
  max-width: 100%;
}

.section-one {
  padding-block: 10vh;
}

.values > div > img {
  width: 180px;
}

.section-five-bar-beginning {
  background-color: #c4ede5;
}

.background-color {
  background-color: #a7d8cc;
}

.text-box {
  background-color: #c4ede5;
  padding: 1em;
}

.logos > div > img {
  filter: grayscale(100%);
}

.logos > div > img:hover {
  filter: grayscale(0%);
  box-shadow: 10px 10px 5px grey;
}

.christin {
  width: 100vw;
}

.magda {
  width: 100vw;
}

.itu {
  width: 100vw;
}

.campus {
  width: 100vw;
}

/* media query to fix orange boxes around pics */
@media screen and (min-width: 40em) {
  .magda {
    box-shadow: -20px 20px orange;
  }

  .christin {
    box-shadow: -5px 10px orange;
  }

  .campus {
    box-shadow: -30px 10px orange;
  }

  .box-one {
    box-shadow: 25px -20px orange;
  }

  .box-two {
    box-shadow: -5px -20px orange;
  }

  .section-one-photo {
    box-shadow: -25px 30px orange;
  }
}
